/* Estilos para la página de resultados de búsqueda */
ul {
    list-style-type: none;
}

li {
    margin-bottom: 10px;
}

a {
    color: #333;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
