/* Estilos para la página de categorías */
ul {
    list-style-type: none;
}

li {
    margin-bottom: 10px;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
